/*
font-family: 'Special Elite', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Berkshire Swash', cursive;
*/

* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color: #0B0C10;
  font-family: 'Lato', sans-serif;
  color: #C5C6C7;
}

html {
  min-width: 380px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.6rem;}
h4 {font-size: 1.4rem;}
h5 {font-size: 1.2rem;}

#container-page {
  width: 100vw;
}

#welcome-section {
  height: 100vh;
}

.font-special {
  font-family: 'Berkshire Swash', cursive;
}

// #brand h1 {
//   color: #66FCF1;
//   text-align: center;
//   padding: 10px 0;
// }

#nav-menu {
  position: absolute;
  top: 0;
  right: 0px;
  line-height: 20px;
  padding-top: 10px;
  padding-right: 10px;
  text-align: right;
  cursor: pointer;
  i {
    padding-right: 6px;
  }
  p {
    font-family: 'Lato', sans-serif;
    padding-left: 6px;
    text-align: center;
    &:hover, &:hover i {
    color: #45A29E;

    }
  }

}

#navbar {
  display: none;
  padding-top: 10px;
  flex-direction: column;
  a {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    display: inline;
    span {
      &:hover {
        color: #45A29E;
        border-bottom: 1px solid #45A29E;
        display: inline;
      }
    }
  }
}

#header-pic {
  margin: 40px 0;
  img {
    display: block;
    width: 75%;
    border-radius: 50%;
    border: 6px solid #1F2833;
    margin: 0 auto;
    box-shadow: 0 0 50px #45A29E;
  }
}

#header-tagline {
  h1.welcome{
      // font-size: 1.8rem;
      color: #45A29E;
      padding-left: 5vw;
      padding-bottom: 1vh;
  }
  h1.name{
      // font-size: 1.8rem;
      color: #45A29E;
      text-align: center;
      padding-bottom: 1vh;
  }
  p {
    text-align: right;
    padding-right: 5vw;
  }
  p span.role {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    color: #66FCF1;
  }
}
